.header {
    width: 100%;
    position: fixed;
    padding: 0 -50rem;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.nav__logo{
    width: 4rem;
    margin-bottom: -1rem;
}


.nav__list {
    display: flex;
    column-gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: white;
    font-weight: var(--font-medium);
    transition: .3s;
}

.nav__icon,
.nav__close,
.nav__toggle {
    color: white;
    display: none;
}

.active-link,
.nav__link:hover {
    color:var(--title-color-blue);
}

  /* Change Background Header */
.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
    .header {
        bottom: initial;
        /* top: 0; */
    }

    .nav {
        height: var(--header-height);
    }
   
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: rgb(14, 1, 31);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
    .nav__logo {
        width: 3rem;
    }

      /* show_menu */
    .show-menu {
        bottom: 0;
    }

    .nav__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav__icon {
        font-size: 1.2rem;
        /* background-color: white; */
    }

    .nav__close {
        position: absolute;
        right: 1.3rem;
        bottom: 0rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: white;
    }

    .nav__close:hover {
        color: var(--title-color-dark);
    }

    .nav__toggle {
        font-size: 1.1rem;
        /* margin-right: 2rem; */
        cursor: pointer;
    }
    
    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: block;
    }
} 

@media screen and (max-width: 350px) {
    /* header {
        margin-left: 10rem;
    } */
    .nav__menu {
        padding: 2rem 0.25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }
    .nav__logo {
        width: 2rem;
        margin-bottom: 0rem;
    }
    
}

/* small devices */

